@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

/* reset */
* {margin:0; padding:0; box-sizing:border-box;}
body {font-family: 'Noto Sans KR', sans-serif;}
/* font-family: 'Nanum Gothic', sans-serif; */
ul,ol,li {list-style:none;}
button {border:none; background-color:transparent; cursor:pointer; outline:0; vertical-align:middle;}


/* header */
header {z-index:10;}
nav.gnb {position:fixed; top:0; width:100%; padding:10px; display:flex; z-index:100; color:#fff;}
nav.gnb.on {background:rgba(0,0,0, .3);}
nav.gnb h1 {width:200px; vertical-align:middle;}
nav.gnb ul {flex:1; display:table;}
nav.gnb ul li {display:table-cell; text-align:center; vertical-align:middle; cursor:pointer;}
.btn_nav {display:none; position:absolute; right:20px; top:10px; width:17px; height:35px;}
.btn_nav span {position:absolute; right:0; width:100%; height:2px; background:#fff; transition:all .3s;}
.btn_nav span:nth-child(1) {top:11px;}
.btn_nav span:nth-child(2) {top:16px;}
.btn_nav span:nth-child(3) {top:21px;}
.btn_nav:hover span:nth-child(1) {top:7px;}
.btn_nav:hover span:nth-child(3) {top:25px;}

nav.side {display:none; position:fixed; right:-100%; top:0; padding:50px; width:50%; height:100%; background:#000; color:#fff; transition:right .7s; z-index:200;}
nav.side.on {right:0;}
nav.side h1 {}
nav.side ul {margin-top:70px;}
nav.side ul li {padding:20px 0; border-bottom:1px solid rgba(255,255,255, .2); cursor:pointer;}
.btn_close {position:absolute; right:50px; top:55px; width:30px; height:30px;}
.btn_close span {position:absolute; right:0; width:100%; height:2px; background:rgba(255,255,255, .5);}
.btn_close span:nth-child(1) {transform:rotate(45deg);}
.btn_close span:nth-child(2) {transform:rotate(-45deg);}


/* slick */
.slick {width:100%; height:100vh; overflow:hidden; background:#fff; z-index:10;}
.slick-slide {padding:40vh 0 0 100px; color:#fff;}
.slick-slide > p {opacity:0;}
.slick-slide .h1 {transform:translateX(50px); font-size:18px;}
.slick-slide .h2 {transform:translateX(100px); font-size:40px; margin:10px 0 20px;}
.slick-slide .h3 {transform:translateX(70px); font-size:22px;}
.slick-active .h1, .slick-active .h2, .slick-active .h3 {transform:translateX(0);}
.slick-active > p {opacity:1; transition:all 1.5s; transition-delay:.7s;}
.slick-list, .slick-track {height:100%;}
.slick-active {opacity:1;}
.slick-current {opacity:1;}
.slick-prev {left:20px;}
.slick-next {right:20px;}
.slick-arrow {z-index:10;}
.slick-arrow:before {color:#fff;}
.slick-dots {bottom:10px;}
.slick-dots li button:before {content:'●'; opacity: .3;}
.slick-dots li.slick-active button:before {color:#fff; opacity: .8;}
.slick-dotted.slick-slider {margin-bottom:0;}
[id^='slick-slide'], .slick-cloned {background-size:cover; background-position:center top; background-repeat:no-repeat;}
#slick-slide00, .slick-cloned {background-image:url('../images/main_01.jpg');}
#slick-slide01 {background-image:url('../images/main_02.jpg');}
#slick-slide02 {background-image:url('../images/main_03.jpg');}



/* box */
section {position:relative; background:#fff; z-index:10;}
.container {max-width:1000px; margin:0 auto;}
article {display:flex; padding:50px 0;}
.item_list {flex:1; padding:0 15px;}
.item_list:last-child {max-width:300px;}
.item_list:last-child .item_box + .item_box {margin-top:20px;}
.item_box {position:relative; padding:15px; background:#fff; border-radius:10px; box-shadow:4px 12px 30px 6px rgb(0 0 0/9%);}
.item_box:hover {cursor:pointer; transition:all .3s ease; transform:translateY(-5px); box-shadow:4px 12px 20px 6px rgba(0,0,0,.18)}
.item_box strong {font-size:20px;}
.item_box .txt {min-height:100px; margin-top:20px;}
.item_box .txt img {width:100%; height:auto;}

.ani_box {position:relative; padding:50px 0; text-align:center;}
.ani_box .h1, .ani_box .h2 {position:relative; z-index:10;}
.ani_box .h1 {}
.ani_box .h2 {}
.ani_box .bg {position:absolute; left:0; top:0; right:0; bottom:0; background:#fc0; transition:all .5s ease; transform:matrix(.62,0,0,1,0,0); z-index:1;}
.ani_box .bg.on {transition:all .5s ease; transform:matrix(1,0,0,1,0,0);}

/* footer */
footer {position:fixed; bottom:0; left:0; width:100%; padding:50px; background:#222; color:rgba(255,255,255, .3); z-index:1;}
footer ul {margin:10px 0;}
footer ul li {padding:2px 0;}
address {}


/* media query */
@media screen and (max-width:768px) { 

    /* header */
    nav.gnb ul {display:none;}
    .btn_nav {display:block;}
    nav.side {display:block;}

    /* box */
    article {display:block;}
    .item_list:first-child, .item_list:last-child {flex:none; width:100%;}
    .item_list:last-child {max-width:100%; margin-top:20px;}

    /* slick */
    .slick {height:50vh;}
    .slick-slide {padding:20vh 0 0 70px;}
    .slick-slide .h1 {font-size:12px;}
    .slick-slide .h2 {font-size:30px;}
    .slick-slide .h3 {font-size:14px;}
    


}