/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 20, ../sass/screen.scss */
header {
  position: relative;
}
/* line 23, ../sass/screen.scss */
header button {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  height: 100px;
  color: #777;
  font-size: 10px;
  text-align: left;
}
/* line 31, ../sass/screen.scss */
header button span.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100px;
  height: 3px;
  transition: all 0.5s ease-out;
  background-color: #777;
  transform: rotate(45deg);
}
/* line 38, ../sass/screen.scss */
header button span:last-child {
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: all 0.5s ease-out;
  opacity: 1;
}
/* line 48, ../sass/screen.scss */
header button.on span:first-child {
  transition: all 0.5s ease-out;
  transform: rotate(135deg);
}
/* line 53, ../sass/screen.scss */
header button.on span:last-child {
  transition: all 0.5s ease-out;
  transform: translateX(-20px);
  opacity: 0;
}
/* line 67, ../sass/screen.scss */
header nav {
  display: none;
}

/* line 82, ../sass/screen.scss */
article {
  height: 100vh;
  background-color: #000;
  text-align: center;
}
/* line 88, ../sass/screen.scss */
article svg text {
  transform: translate(-25%, 0%);
}
