/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*************************************************************************************************/
/*
.blind{ @extend %blind; }
.hide{ @extend %blind; }
.hidden{ @extend %blind; }
*/
/*
@include mq(pc) {
	background-color:green;
}
*/
/* color */
/*************************************************************************************************/
/* line 93, ../sass/screen.scss */
header {
  position: relative;
  font-weight: bold;
  z-index: 1;
}
/* line 99, ../sass/screen.scss */
header button {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 100px;
  height: 100px;
  color: #f8f4fe;
  font-size: 10px;
  text-align: left;
  z-index: 10;
}
/* line 108, ../sass/screen.scss */
header button span.line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100px;
  height: 3px;
  transition: all 0.3s ease-in;
  background-color: #f8f4fe;
  transform: rotate(45deg);
}
/* line 115, ../sass/screen.scss */
header button span:last-child {
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: all 0.3s ease-in;
  opacity: 1;
}
/* line 125, ../sass/screen.scss */
header button.on span:first-child {
  transition: all 0.5s ease-in;
  transform: rotate(135deg);
}
/* line 129, ../sass/screen.scss */
header button.on span.line {
  background-color: white;
}
/* line 132, ../sass/screen.scss */
header button.on span:last-child {
  transition: all 0.3s ease-in;
  transform: translateX(-20px);
  opacity: 0;
}
/* line 141, ../sass/screen.scss */
header nav {
  position: absolute;
  top: -500px;
  left: 0;
  width: 100%;
  transition: all 0.5s ease-in;
  padding: 50px 0;
  background: rgba(255, 255, 255, 0.5);
  /* transform:scaleY(0);
  transform-origin:100% 0 0; */
  opacity: 0;
  z-index: 9;
}
/* line 153, ../sass/screen.scss */
header nav ul li {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  color: #2b1d3e;
  cursor: pointer;
}
/* line 160, ../sass/screen.scss */
header nav ul li:hover {
  text-decoration: underline;
}
/* line 167, ../sass/screen.scss */
header nav.on {
  transition: all 0.5s ease-in;
  /* transform:scaleY(1);
  transform-origin:100% 0 0; */
  top: 0;
  opacity: 1;
}

/* line 178, ../sass/screen.scss */
article {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #6e5f96;
  /* svg {
  	text {
  		transform:translate(-50%,-50%);
  		font-size:20vw;
  	}
  } */
}
/* line 184, ../sass/screen.scss */
article hgroup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* line 189, ../sass/screen.scss */
article hgroup h2 {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 20vw;
  line-height: 20vw;
  color: #e5d3ff;
  mix-blend-mode: multiply;
}
@media (min-width: 1025px) {
  /* line 189, ../sass/screen.scss */
  article hgroup h2 {
    font-size: 200px;
    line-height: 200px;
  }
}
/* line 201, ../sass/screen.scss */
article hgroup h2:first-child {
  color: #ffbccd;
}

/* line 216, ../sass/screen.scss */
section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/* line 221, ../sass/screen.scss */
section h3 {
  margin: 50px auto;
  text-align: center;
}
/* line 225, ../sass/screen.scss */
section h3 p {
  display: inline-block;
}
/* line 228, ../sass/screen.scss */
section h3 p.info_0 {
  border-bottom: 2px solid #19171c;
  font-size: 40px;
}
/* line 232, ../sass/screen.scss */
section h3 p.info_0 span {
  font-size: 30px;
}
/* line 240, ../sass/screen.scss */
section h4 {
  margin: 10px 20px;
  padding: 10px 0;
  border-radius: 5px;
  background: #19171c;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}
/* line 251, ../sass/screen.scss */
section#tab1 {
  background-color: #ffe898;
}
/* line 254, ../sass/screen.scss */
section#tab1 .info {
  text-align: center;
}
/* line 258, ../sass/screen.scss */
section#tab1 ul {
  margin: 50px auto;
}
/* line 261, ../sass/screen.scss */
section#tab1 ul li {
  font-size: 15px;
  line-height: 30px;
}
/* line 270, ../sass/screen.scss */
section#tab2 {
  background-color: #f8f4fe;
}
/* line 273, ../sass/screen.scss */
section#tab2 > div {
  position: relative;
}
/* line 276, ../sass/screen.scss */
section#tab2 > div pre {
  margin: 10px 20px;
  overflow: hidden;
  border-radius: 10px;
  background: #19171c;
}
/* line 282, ../sass/screen.scss */
section#tab2 > div pre .hljs {
  height: 25vh;
  overflow-y: auto;
  margin: 30px;
}
/* line 289, ../sass/screen.scss */
section#tab2 > div.half {
  width: 50%;
  float: left;
}
/* line 293, ../sass/screen.scss */
section#tab2 > div.half i {
  position: absolute;
  top: 50%;
  right: -20px;
  font-size: 40px;
}
/* line 304, ../sass/screen.scss */
section#tab3 {
  background-color: #ffbccd;
}
/* line 307, ../sass/screen.scss */
section#tab3 dl {
  width: 80%;
  margin: 0 auto 3vh;
  overflow: hidden;
  font-size: 14px;
}
/* line 313, ../sass/screen.scss */
section#tab3 dl:nth-child(2) {
  margin: 20vh auto 3vh;
}
/* line 317, ../sass/screen.scss */
section#tab3 dl dt {
  float: left;
  width: 40%;
}
/* line 322, ../sass/screen.scss */
section#tab3 dl dd {
  float: left;
  width: 60%;
}
/* line 326, ../sass/screen.scss */
section#tab3 dl dd i {
  vertical-align: middle;
}
/* line 336, ../sass/screen.scss */
section#tab4 {
  background-color: #e5d3ff;
}
/* line 339, ../sass/screen.scss */
section#tab4 ul {
  margin: 50px auto;
  width: 80%;
  overflow: hidden;
}
/* line 344, ../sass/screen.scss */
section#tab4 ul li {
  float: left;
  width: 48%;
  margin-left: 4%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #2b1d3e;
  background: #fff;
  border-radius: 3px;
}
/* line 354, ../sass/screen.scss */
section#tab4 ul li:nth-child(2n-1) {
  margin-left: 0;
}
/* line 358, ../sass/screen.scss */
section#tab4 ul li div {
  height: 200px;
  overflow: hidden;
  border-bottom: 1px solid #2b1d3e;
}
/* line 363, ../sass/screen.scss */
section#tab4 ul li div img {
  width: 200%;
  transform: translateX(-25%);
}
/* line 369, ../sass/screen.scss */
section#tab4 ul li a {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
}
/* line 376, ../sass/screen.scss */
section#tab4 ul li a:last-child {
  border-left: 1px solid #2b1d3e;
}
